<!DOCTYPE html>
<html>
<head>
  {% include gtag.html %}
  <link rel="shortcut icon" href="https://cdn.yeahgames.net/img/branding/logos/default/logo.png" type="image/x-icon"><html>

  <title>Full-screen player | YGP</title>
  <link rel="stylesheet" href="/assets/game.css">
  <style>
    body{transform: scale(280%)!important}
  </style>
</head>

<body>
  <!--Loader-->
  <div id="overlay" style="display: none;">
    <img src="/assets/loading.gif" alt="Loading..." class="loading-gif">
    &#160;&#160;Loading your game...
  </div>

  <!--Player-->
  <center>
    <desmond-player style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, 15%);"
      id="player"></desmond-player>
  </center>

  <!--Zoom-->
  <div class="container">
    <div id="buttons-container">
      <button id="plus-button">+</button>
      <button id="minus-button">-</button>
    </div>
  </div>

  <!--Scripts-->
  <script src="/dist/desmond.min.js"></script>
  <script src="/zip/dist/jszip.js"></script>
  <script src="/assets/game.js"></script>
</body>

</html>