<title>yEAh NDS emulator src</title>
<html>
<body>
    <center>
<desmond-player style="  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 15%);" id="player"></desmond-player></center>
<script src="/dist/desmond.min.js"></script>
<style>
    body {
        transform: scale(115%);
        background-color: #15181f;
    }
</style>

<script src="/zip/dist/jszip.js"></script>
<script>
window.onload = function() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'game.zip', true);
  xhr.responseType = 'blob';

  xhr.onload = function() {
    if (xhr.status === 200) {
      var zipFile = xhr.response;

      // new object
      var zip = new JSZip();

      // load
      zip.loadAsync(zipFile).then(function(zip) {

        // retrieve from archive
        zip.file("game.nds").async("blob").then(function(file) {

          // player.loadurl
          var objectUrl = URL.createObjectURL(file);
          document.getElementById("player").loadURL(objectUrl);
        });
      });
    }
  };

  xhr.send();
};
</script>

<head>
  <style>
   #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0c0e14;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      color: #fff;
      font-size: 20px;
    }
    .loading-gif {
      width: 55px;
      height: 55px;
    }
    .hidden-text {
      display: none;
    }
  </style>
    <head>

</head>
<body>

  <script>
    const dropdown = document.getElementById('dropdown');
    const hiddenContent = document.getElementById('hiddenContent');

    dropdown.addEventListener('change', function() {
      if (dropdown.value !== '') {
        hiddenContent.style.display = 'block';
      } else {
        hiddenContent.style.display = 'none';
      }
    });
  </script>
  </style>
</head>
<body>

  <div id="overlay" style="display: none;">
    <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt="Loading..." class="loading-gif">&#160;
    Loading your game....
  </div>

  <!--Loader JS-->
  <script>
    const resourceUrl = "game.zip";
    function showOverlay() {
      document.getElementById("overlay").style.display = "flex";
    }
    function hideOverlay() {
      document.getElementById("overlay").style.display = "none";
    }

    function updateProgress(loaded, total) {
      const percentage = Math.round((loaded / total) * 100);
      const progressBar = document.querySelector("#progress-bar .progress-bar-fill");
      progressBar.style.width = percentage + "%";
    }

    function showFailureMessage(errorCode) {
      const overlay = document.getElementById("overlay");
      overlay.innerHTML = `<center><div>Failed to load the resource.<br>Error Code: ${errorCode} <br><br><button type='button' onclick="toggleText()">Help</button><p id='demo' style='display: none;width:30%'>If you're on a school Chromebook, you most likely can't load the game because its storage is full and thus doesn't have enough allocated memory. You can fix this by following the tutorial on the game page's help button, or by visiting <a href="https://arcade.yeahgames.net/tools/help/chromebook">https://arcade.yeahgames.net/tools/help/chromebook</a></P></div></center>`;
    }

    function checkResourceLoading() {
      const resource = new Image();
      resource.src = resourceUrl;

      resource.addEventListener("load", function () {
        hideOverlay();
      });

      resource.addEventListener("progress", function (event) {
        if (event.lengthComputable) {
          updateProgress(event.loaded, event.total);
        }
      });

      resource.addEventListener("error", function (event) {
        let errorCode = "Unknown";
        if (event.target && event.target.error) {
          errorCode = event.target.error.code;
        }
        showFailureMessage(errorCode);
      });
    }
    showOverlay();
    checkResourceLoading();
  </script>
  <script>
    function toggleText() {
      var text = document.getElementById("demo");
      if (text.style.display === "none") {
        text.style.display = "block";
      } else {
        text.style.display = "none";
      }
    }
    </script>
</body>

</body>
</html>