<title>yEAh NDS emulator src</title>
<html>
<body>
    <center>
<desmond-player style="  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 15%);" id="player"></desmond-player></center>
<script src="/dist/desmond.min.js"></script>
<style>
    body {
        transform: scale(115%);
        background-color: #15181f;
    }
</style>

<script src="/zip/dist/jszip.js"></script>
<script>
window.onload = function() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', 'game.zip', true);
  xhr.responseType = 'blob';

  xhr.onload = function() {
    if (xhr.status === 200) {
      var zipFile = xhr.response;

      // new object
      var zip = new JSZip();

      // load
      zip.loadAsync(zipFile).then(function(zip) {

        // retrieve from archive
        zip.file("game.nds").async("blob").then(function(file) {

          // player.loadurl
          var objectUrl = URL.createObjectURL(file);
          document.getElementById("player").loadURL(objectUrl);
        });
      });
    }
  };

  xhr.send();
};
</script>



</body>
</html>